body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}   

// navbar
.navbar-brand
{
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #fff;
    
    &:hover {
        background-color: #1e3772;
        color: #fff;
    }
}

// header
header {
    padding: 180px 0 165px;
    background-image:linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url(../images/header.jpg);
    background-size: cover;
    margin-top: -70px;

    h1, p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started
    {
        background-color: #FF9E53;
        color: #ffffff;

        &:hover
        {
            background-color: #ffaa69;
            color: #ffffff;
        }
    }

}

// statistics
.section-stats {
    margin-top: -50px ;

    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;

    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//popular

.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;


        h2,p {
            color: #fff;
        }

        h2 {
            font-family: 'playfair display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

}

.section-popular-content {
 .section-popular-travel {
    .card-travel {
        min-height: 380px;
        background-color: rgb(0, 0, 0);
        color:  #fff;
        padding: 30px;
        background-size: cover;
        margin-bottom: 20px;
    }

    .travel-country {
        font-size: 18px;
        color: #fff;
    }

    .travel-location {
        font-size: 26px;
        color: #fff;
    }

    .travel-button {
        .btn-travel-details {
            background-color: #FF9E53;
            color: #fff;

            &:hover {
                background-color: #FFAE6f;
                color: #fff;
            }
        }
    }
 }       
}

.section-networks {
    margin-top: -170px;
    background-color: #fff;
    padding-top: 240px;
    padding-bottom: 50px;


    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p{
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;


    h2 {
        font-family: "Playfair Dislay", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p{
        font-size: 18ox;
    }
}

.section-testimonial-content
{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial
    {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 20px;
            color: #6e6e6e;
        }


        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }


    .btn-get-started
    {
        background-color: #FF9E53;
        color: #ffffff;

        &:hover
        {
            background-color: #ffaa69;
            color: #ffffff;
        }
    }

    .btn-need-help
    {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover
        {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

.section-footer {
    
    a {
        color: #071C4D;
        text-decoration: none;

        &:hover{
            color: #071C4D;
            text-decoration: underline;
        }
    }

}

.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &:active {
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;


        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }

    }

    .features {
        margin-top: 20px;

        h3{
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;

        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
          display: block;
    
          .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
          }
    
          .xactive {
            border: 2px solid #1abc9c;
            box-shadow: none;
          }
        }
      }
    
      .features {
        margin-top: 20px;
    
        h3 {
          font-size: 18px;
          color: #071c4d;
          margin-bottom: 0;
        }
    
        p {
          margin-bottom: 0;
        }
    
        .description {
          margin-left: 10px;
          overflow: hidden;
          float: left;
        }
    
        .features-image {
          width: 45px;
          height: 45px;
          float: left;
        }
      }
    
      .join-container {
        margin-top: -16px;
      }
    
      .btn-join-now {
        background-color: #FF9E53;
        color: #fff;
        border-radius: 0;
    
    
        &:hover {
          color: #fff;
        }
      }
    
      .bank {
        .bank-item {
    
          h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
          }
    
          p {
            margin-bottom: 0;
          }
    
          .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
    
            p {
              font-family: Assistant;
              font-weight: normal;
              font-size: 16px;
              text-align: left;
              color: #071c4d;
            }
          }
    
          .bank-image {
            width: 45px;
            height: 45px;
            float: left;
          }
        }
      }
    
      .btn-add-now {
        background-color: #071C4D;
        color: #fff;
        height: 40px;
    
        &:hover {
          color: #fff;
        }
      }
    
      .input-group-text {
        background-color: transparent;
      }
    
      h3 {
        font-weight: 400;
        font-size: 14px;
        color: #071c4d;
      }
    
      .gj-datepicker {
        .datepicker {
          border-right: 0;
        }
    
        .input-group-append {
          .btn {
            padding-right: 30px;
          }
        }
    
      }
    }
    
    .section-success {
      height: 90vh;
    
      h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
      }
    
      p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
      }
    
      .btn-home-page {
        border-radius: 4px;
        background: #071c4d;
        color: #fff;
        width: 150px;
        margin-left: 90px;
    
        &:hover {
          color: #fff;
        }
      }
    }

    .login-container{
        @media (min-width: 992px){
            background: linear-gradient(90deg, #ffffff 60%, #e4e6eb 40%);
            width: 100vw;
            height: 100vh;
        }
    }
    
    .page-login{
        height: 100vh;
    
        .btn-login{
            background-color: #FF9E53;
            color: #fff;
    
            &:hover{
                background-color: #FFB57C;
                color: #fff;
            }
        }
    }
    
    .section-left{
    
        h1{
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 50px;
            text-align: left;
            color: #071C4D;
        }
    
    }
    
    .section-right{
        a{
            font-family: 'Assistant';
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #bfbfbf;
        }
    }
